.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.laranja {
    background-color: orange;
}

.roxo {
    background-color: purple;
}
