article{
    background-color: rgb(245, 225, 202);
}

.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.laranja {
    background-color: orange;
}

.roxo {
    background-color: purple;
}


h3{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

